Flask
pymongo
python-dotenv
dnspython
faiss-cpu
huggingface_hub
torch
gunicorn
google-generativeai
sentence-transformers
transformers
tokenizers
--extra-index-url https://download.pytorch.org/whl/cpu
